.banner{
    width:100vw;
}

.bannerImage{
    width: 100vw;
    justify-self: center;
    object-fit: scale-down;
}

.categoryShelf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categoryImg{
    object-fit: scale-down;
    max-width: 90vw;
}


@media only screen and (max-width: 600px){
    .bannerImage{
        height: 60vh;
        max-width: 100vw;
        object-fit: cover;
    }
}