#hamburger {
    position: fixed;
    display: none;
    width: 95vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

.mobile {
    display: none;
}

#logoMobile {
    justify-self: center;
}

#logo {
    justify-self: left;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.navBar {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5em;
    padding: 0.5%;
}

.header {
    width: 100%;
    align-self: left;
    background-color: white;
    position: sticky;
    top: 0;
}

* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


#hamburgerButton {
    background-color: white;
    border: none;
}

#hamburgerCloseButton {
    background-color: white;
    border: none;
}

.hamburgerHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}

.navLink {
    text-decoration: none;
    color: black;
}

.hamburgerLink {
    font: bold;
    font-size: 2em;
    margin: 5%
}

#hamburgerFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hamburgerFooterRow {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%
}

@media only screen and (max-width: 600px) {
    .navBar {
        display: none;
    }

    .desktop {
        display: none;
        align-self: center;
    }

    .mobile {
        display: inherit;
    }

    .header {
        position: sticky;
        top: 0;
    }
}