.mobile{
    display: none;
}

#logoMobile{
    justify-self: center;
}

#logo{
    justify-self: left;
}

.topBar{
    display: flex;
    justify-content: space-between;
}

.navBar{
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5em;
    padding: 0.5%;
}

.header{
    width: 100%;
    align-self: left;
    background-color: white;
    position: sticky;
    top: 0;
}

*{
    margin:0;
}


button{
    background-color: white;
    border: none;
}



@media only screen and (max-width: 600px){
    .navBar {
        display: none;
    }

    .desktop{
        display: none;
        align-self: center;
    }

    .mobile{
        display: inherit;
    }
}