.listing {
    display: flex;
    justify-content: center;

}

.listingImage {
    display:flex;
    justify-content: center;
    width: 35vw;
}

.listingDetails {
    width: 40vw;
}

.imgProduct {
    justify-self: center;
    object-fit: scale-down;
}

@media only screen and (max-width: 600px) {
    .listing {
        display: block;
        justify-content: center;

    }

    .listingImage {
        display:flex;
        justify-content: center;
        width: 100vw;
    }

    .imgProduct {
        object-fit: scale-down;
        justify-self: center;
        max-width: 95%;
    }

    .listingDetails {
        width: 100vw;
        padding: 3%;
    }

}