.cart {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    min-height: 100vh;
}

.cartOptions {
    background-color: white;
    flex-basis: 25%;
    flex-grow: 1;
    position: fixed;
    width: 25vw;
    height: 100vh;
    z-index: 1;
}

.cartList {
    background-color: red;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 75vw;
    min-height: 100vh;
    margin-right: 25vw;
    display: block;
}

.cartItems {
    padding: 1%;
    background-color: yellow;
}

.cartItem {
    background-color: orange;
    justify-self: center;
    display: flex;
    width: 97%;
    padding: 1%;
    justify-content: space-between;
}

.productImage {
    object-fit: scale-down;
    max-width: 30vw;
    max-height: 30vh;
}

.itemImage {
    margin: none;
    width: 20%;
}

.itemControls {
    width: 75%;
    display: block;
}

.itemControlsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




@media only screen and (max-width: 600px) {

    .cart {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        min-height: 100vh;
    }

    .cartOptions {
        background-color: grey;
        flex-basis: 25%;
        flex-grow: 1;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 25vh;
    }

    .cartList {
        background-color: white;
        flex-basis: 0;
        flex-grow: 999;
        min-width: 100vw;
        padding: 1%;
        margin: 0;
    }

    .cartItem {
        object-fit: scale-down;
        background-color: lightgrey;
        justify-self: center;
        display: flex;
        padding: 2%;
        width: 95%;
    }

    .productImage {
        object-fit: scale-down;
        min-width: 40%;
        max-height: 35vh;
    }

    .itemImage {
        margin: none;
        width: 40%;
    }

    .itemControls {
        width: 60%;
        display: block;
    }


    .productName {
        max-width: 50%;
    }

    .productText{
        font-size: 16pt;

    }

    
}